md-content{
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

md-toolbar {
  &.active {
    display: none;
  }
}

.md-toolbar-tools {
  font-family: cursive;
  cursor: pointer;
}

body{
  height: 100%;

  font-family: Helvetica neue, Helvetica, Arial, Sans-serif;
}

@import "../modules/search/search";
@import "../modules/services/services";
@import "../modules/service/service";