<md-content>
    <md-list>
        <md-subheader class="md-no-sticky">{{services.length}} results has found</md-subheader>
        <service model="service" ng-repeat="service in services"></service>
    </md-list>

    <md-button ng-click="toggleFilter()"
               ng-hide="isOpenRight()"
               class="md-primary">
        Filter
    </md-button>
</md-content>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Filter</h1>
    </md-toolbar>
    <md-content layout-padding>
        will be filter
    </md-content>
</md-sidenav>