<md-content>
    <md-list>
        <md-subheader class="md-no-sticky">
            <md-button class="md-fab" aria-label=filter" ng-click="toggleFilter()"><i class="fa fa-filter"></i></md-button>
            {{services.length}} results has found
        </md-subheader>
        <service model="service" ng-repeat="service in services | filter:{bidType: 1}"></service>
    </md-list>
</md-content>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Filter</h1>
    </md-toolbar>
    <md-content layout-padding>
        will be filter
    </md-content>
</md-sidenav>