<md-content>

    <div ng-show="services" ui-sref-active="services">
        <md-list>
            <md-subheader class="md-no-sticky">
                <md-button class="md-fab" aria-label=filter" ng-click="toggleFilter()"><i class="fa fa-filter"></i></md-button>
                {{filtered.length}} results has found
            </md-subheader>
            <service model="service" ng-repeat="service in filtered = (services | bidTypeFilter: filter.bidTypes)"></service>
        </md-list>

        <div ng-show="filtered.length == 0">
            No result has found :(
        </div>
    </div>

    <div ui-view></div>
</md-content>

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Filter</h1>
    </md-toolbar>
    <md-content layout-padding>
        <label>Bid Type</label>

        <div flex="50" ng-repeat="(name, value) in filter.bidTypes">
            <md-checkbox ng-model="filter.bidTypes[name]">
                {{name}}
            </md-checkbox>
        </div>

        <md-button class="md-raised" ng-click="resetFilter()">Reset</md-button>
    </md-content>
</md-sidenav>