<header>
    <img src="imgs/logo.png">
</header>

<md-content>
    <div id="search" class="md-padding">
        <md-chips ng-model="selectedTags" md-autocomplete-snap md-require-match="true">
            <md-autocomplete
                    md-selected-item="selectedItem.name"
                    md-search-text="searchText"
                    md-items="item in querySearch(searchText)"
                    md-item-text="item.name"
                    placeholder="Search for a Tags">
                <span md-highlight-text="searchText">{{item.name}}</span>
            </md-autocomplete>

            <md-chip-template>
                <strong>{{$chip.name}}</strong>
            </md-chip-template>
        </md-chips>

        <md-button class="md-raised md-primary" ng-click="search()">Search</md-button>
    </div>
</md-content>