#service-page {
  background: inherit;
  padding: 1em;

  .service-icon {
    img {
      height: 8em;
      width: 8em;
    }
  }

  .service-body {
    padding-top: 1em;
  }

  .person-info {
    padding-top: 1em;

  }

  .md-whiteframe-z2 {
    background: hotpink;
  }
}