<div id="service-page">
    <div class="md-whiteframe-z2" layout="column">
        <div layout="row" class="service-header">
            <div class="service-icon">
                <img ng-src="{{person.icon}}" />
            </div>
            <div flex>
                <div layout="column" class="service-body">
                    <h6 class="service-title">{{service.name}}</h6>
                </div>
            </div>
            <div class="person-info" flex="40">
                <div layout="row">
                    <span flex></span>
                    <div layout="column">
                        <span class="info-title">{{person.name}}</span>
                        <span class="info-rating">Average Rating: {{person.rating}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="bidding-purchasing" layout="row">
            <div class="bid-now" layout="row">
                <span class="bid-text">Current bid: {{service.currentBid | currency}}</span>
            </div>
            <span flex></span>
            <div class="buy-now" layout="row">
                <span class="hire-text">Seller Max bid: {{service.maxBid | currency}}</span>
                <md-button ng-if="service.enableAuction" class="md-primary md-raised hire-button">
                    Place bid
                </md-button>
                <md-button ng-if="service.enableBuyItNow" class="md-primary md-raised hire-button">
                    Buy it now
                </md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <div class="service-description-container">
            <span class="service-desc">{{service.description}}</span>
        </div>
        <md-divider></md-divider>
        <md-tabs>
            <md-tab label="{{rev.title}}" ng-repeat="rev in service.reviews">
                <rating data="rev"></rating>
            </md-tab>
        </md-tabs>

    </div>
</div>